.my-menu {
    width: 100%;
    border: none !important;
    background: transparent !important;
}

/* Every menu item */
.my-menu .ant-menu-item {
    height: 45px !important;
    line-height: 45px !important;

    padding-left: 45px !important;

    color: #555 !important;
    background: transparent !important;

    border-radius: 6px !important;
}

/* Hover */
.my-menu .ant-menu-item:hover {
    color: black !important;
    background: #f5f5f5 !important;
}

/* Selected */
.my-menu .ant-menu-item-selected {
    color: black !important;
    background: transparent !important;
}

/* Icon */
.my-menu .ant-menu-item-icon {
    font-size: 18px !important;
    color: #46a358 !important;
}

/* Parent submenu */
.my-menu .ant-menu-submenu-title {
    color: black !important;
    background: transparent !important;
}

/* Parent hover */
.my-menu .ant-menu-submenu-title:hover {
    color: black !important;
    background: #f5f5f5 !important;
}