@import "tailwindcss";


body {
  font-family: "Fira Sans", sans-serif;
  /* margin-bottom: 500px; */
}


/* language */
.ant-dropdown-menu {
  display: block !important;
  width: 70px;
  /* padding: 10px !important; */
}

.ant-dropdown-menu-item {
  padding: 0px !important;
}

.ant-dropdown-menu-item:hover {
  background-color: white !important;
  padding: 0px !important;
}

/* language */


